.saveConfigButton {
    background-color: #0068EA;
    color: #ffffff;
    font-size: 12px;
    font-family: Monserrat, sans-serif;
    z-index: 10;
    position: absolute;
    top: 75vh;
    left: 90vw;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 40px;
}
